@charset "utf-8"; 

/* ESTILO PARA "index.php"*/

html, body {
    height: 100vh;
}
body {
    margin: 0;
    font-family: 'Open Sans';
    background-image: url(../Images/fondo.jpg);
    background-position: center center;
    background-size: 1300px;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    background-color: black;
    color: white;
    height: 10%;
}

.contenedor{
    height: auto;
    width: 100%;
}

.menu{
    display: flex;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
}

a{
    /*float: left;*/
    width: 75px;
    height: 75px;
    font-size: 4.2em;
    text-decoration: none;
    background-color: #141414;
    opacity: 0.80;
    margin: 20px;
    border: solid 5px #040404;
    border-radius: 50%;    
    display: flex;   
    color: white;

    -webkit-transition: all .05s ease-in-out;
    -moz-transition: all .05s ease-in-out;
    -o-transition: all .05s ease-in-out;
    transition: all .05s ease-in-out;
}

a:hover{
    border: solid 10px #040404;
    margin: 15px;
    opacity: 0.90;
    background-color: #040404;    
}

.enlace{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-size: 0.25em;
}

.footer{
    display: flex;
    opacity: 0.90;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
}

.izquierda{
    width: 50%;
    float: left;
    margin: 5px;
}

.legal{
    font-size: 12px;
    line-height: 6px;
    color: grey;
}

.legal:hover{
    cursor: pointer;
    font-size: 20px;
    margin: 17px 10px 17px 7px;
    color: yellow;
}
   
.derecha{
    width: 50%;
    float: right;
    margin: 5px;
}

@media (max-width: 600px){
    a{
        width: 100px;
        height: 100px;
    }
}