@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: whitesmoke;
	margin: 0;
	padding: 0;
	color: #000;	
	width: 1104px;
	height: 490px;
	margin-left: 40px;
}

header{
	font: 140%/1.4 Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: whitesmoke;
	color: rgb(126, 5, 5);	
	text-align: center;
	width: 95%;
	height: 10%;		
	padding: 5px;
}

label{
	margin-left: 0px;
}

div{
	margin-top: 5px;	
}

span{	
	color: red;
}