.bold{
    font-weight: bold;
    color: red;
}

div {
    margin-bottom: 1%;
}

table {
    border: 1px solid;
    width: 90%;    
    text-align: center;
}

thead {
    background-color: grey;
}