/*----- STYLE PARA TABLA P18 -------*/

.encabezadoP18 {
    font: normal bolder 12px Verdana, Arial, Helvetica, sans-serif;
    color: black;        
    border: 1px solid;
    margin: auto;        
    width: 100%;    
}

.encabezadoP18 th{    
    background: rgb(224, 158, 18, 0.786);	
    color: white;
    border: 0px solid;
    padding: 10px;
}
    
.encabezadoP18 caption{
    margin-bottom: 20px;
    color: rgb(224, 158, 18, 0.786);	
}

/*------- INICIO ESTILO DATOS TABLA P18 -------*/
.tablaP18{
    font: normal /*bolder*/ 14px Verdana, Arial, Helvetica, sans-serif;       
    margin-left: 0px;
}

.tablaP18 .Fab{    
    width: 70px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Semana{    
    width: 91px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Reactor{    
    width: 87px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .FechaI{        
    width: 174px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .PesoI{
    width: 115px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .FechaF{        
    width: 222px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .PesoF{
    width: 102px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Duracion{
    width: 97px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Parado{
    width: 145px;    
    text-align: center;    
    border: 0px solid;
}

/* FIN STYLE PARA TABLA P18 -------*/

/*----- STYLE PARA TABLA FÉRRICO ------*/
    
.encabezadoFe {
    font: normal bolder 12px Verdana, Arial, Helvetica, sans-serif;    
    border: 1px solid;
    margin: auto;        
    width: 100%;    
}

.encabezadoFe th{    
    background: rgb(126, 5, 5);	    
    color: white;
    border: 0px solid;
    padding: 10px;
}
    
.encabezadoFe caption{
    margin-bottom: 20px;
    color: rgb(126, 5, 5);	    
}

/*------- INICO ESTILO DATOS TABLA FÉRRICO -------*/

.tablaFe{
    font: normal /*bolder*/ 14px Verdana, Arial, Helvetica, sans-serif;       
    margin-left: 0px;
}


/*.tablaFe th{
    /*background: white;*/    
  /*  background: rgb(224, 158, 18, 0.786);	
   /* color: red;
    border: 0px solid;
    
}*/

.tablaFe .Fab{    
    width: 98px;
    text-align: center;    
    border: 0px solid;
}

.tablaFe .Semana{    
    width: 125px;
    text-align: center;    
    border: 0px solid;
}

.tablaFe .Fecha{
    width: 101px;
    text-align: center;
    border: 0px solid;
}

.tablaFe .VolumenI{
    width: 204px;
    text-align: center;
    border: 0px solid;    
}

.tablaFe .VolumenF{
    width: 187px;
    text-align: center;
    border: 0px solid;
}

.tablaFe .Densidad{
    width: 136px;
    text-align: center;
    border: 0px solid;
}

.tablaFe .Riqueza{
    width: 120px;
    text-align: center;
    border: 0px solid;
}

.tablaFe .Acido{
    width: 151px;
    text-align: center;
    border: 0px solid;
}


/*------- INICIO ESTILO DATOS TABLA P18 -------*/
.tablaP18{
    font: normal /*bolder*/ 14px Verdana, Arial, Helvetica, sans-serif;       
    margin-left: 0px;
}

.tablaP18 .Fab{    
    width: 70px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Semana{    
    width: 91px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Reactor{    
    width: 87px;
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .FechaI{        
    width: 174px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .PesoI{
    width: 115px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .FechaF{        
    width: 222px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .PesoF{
    width: 102px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Duracion{
    width: 97px;    
    text-align: center;    
    border: 0px solid;
}

.tablaP18 .Parado{
    width: 145px;    
    text-align: center;    
    border: 0px solid;
}



/* FIN STYLE PARA TABLA P18 -------*/
































