body {        
    background-image: url("../Images/image.jpg");
    background-size: cover;
}

@media only screen and (max-width: 666px){

.login {    
    background-image: none;    
}

section{
    border: 2px solid blue;
    margin: 1%;
}

.texto{
    margin-bottom: 3%;
    font-size: 2em;   
    color: blue; 
}

input{
    margin-bottom: 3%;
    font-size: 2em;       
}

label{
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    width: 60vw;    
}

header{
    display: flex;
    width:99%;
    height: 6vh;
    background-color: black;
    color: white;
    align-items: center;        
}

p{
    margin-left: 2%;
    font-weight: bold;
}

.container{
    display: grid;    
    height: 88vh;      
    grid-template-columns: 75%;                
    align-items: center;      
    justify-content: center;  
}

.item{        
    background-color: #040404;
    text-align: center;
    padding: 15px;
    color:white;
    border: 2px solid;
    text-decoration:none;
}
    
.item:hover{
    background-color: #141414;
    border: 2px solid #141414;        
}

footer{
    display: flex;
    width: 99%;
    background-color: black;
    color: white;
    height: 6vh;
    align-items: center;
}
}

@media only screen and (min-width: 667px){

.login {    
    background-image: none;
}

header{
    display:flex;        
    width:99%;
    height: 6vh;
    background-color: black;
    color: white;
    align-items: center;
}

p{
    margin-left: 2%;
}

.container{
    display: grid;            
    height: 86vh; 
    align-items: center;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
}
    
.item{
    background-color: #040404;
    text-align: center;        
    padding: 20px;
    color:white;
    border: 1px solid;
    text-decoration: none;
}

.item:hover{
    background-color: #141414;
    border: 2px solid #141414;        
}

footer{
    display: flex;
    width: 99%;
    height: 6vh;
    background-color: black;
    color: white;
    align-items: center;
}
}

@media only screen and (min-width: 1080px){

.login {    
    background-image: none;
}

header{
    display: flex;
    width: 99%;
    height: 6vh;
    background-color: black;
    opacity: 90%;
}

p{
    margin-left: 2%;
}

.container{
    display: grid;
    height: 85vh;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;        
    align-items: center;
    justify-content: center;
}

.item{        
    display: grid;
    width: 8vh;
    height: 8vh;                
    background-color: #040404;
    text-align: center;       
    color:white;
    border: 1px solid;
    text-decoration: none;
    font-size: small bold;
    border-radius: 50%;
    align-items: center; 
    justify-content:center;        
}   

.item:hover{
    background-color: #141414;
    border: 2px solid #141414;        
}
    
footer{
    display: flex;
    background-color: black;        
    color: white;
    width: 99%;
    height: 6vh;
    opacity: 90%;
    align-items: center;
}
}
