header{
    background-color: black;
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
    padding: 4px;
}

fieldset{        
    padding: 5px;
    font-size: 20px;  
}

legend{
    font-weight: bold;
    font-size: 20px;
}

div{
    margin: 10px;
}

.styled-table
{
    display: flex;
    justify-content: center;
    font-size: 20px;    
    text-align: center;
}

table{
    border: 1px solid;    
    border-collapse: collapse;
    margin-top: 5px;    
    width: 98%;    
}

th, td{
    border: 1px;    
    padding: 5px;
}

.styled-table thead tr .p18{
    background-color: rgb(224, 158, 18);
    color: white;
    text-align: center;
}

.p18{
    background-color: rgb(224, 158, 18);
}

.styled-table thead tr .ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
    text-align: center;
}

.sulfato{
    background-color: green;
    color: white;
}

.styled-table thead tr .sulfato{
    background-color: green;
    color: white;
    text-align: center;
}

.ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
}

.styled-table thead tr .ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
    text-align: center;
}

.hb10{
    background-color: rgb(255, 181, 193);
    color: white;
}

.styled-table thead tr .hb10{
    background-color: rgb(255, 181, 193);
    color: white;
    text-align: center;
}

.sulfacid{
    background-color: rgba(140, 68, 158);
    color: white;
}

.styled-table thead tr .sulfacid{
    background-color: rgba(140, 68, 158);
    color: white;
    text-align: center;
}  

.R200{	
	color: rgb(0,176,240);
	/*font-weight: bold;*/
}

.R201{
	color:rgb(255, 192, 0);	
	/*font-weight: bold;*/
}

.R202{
	color:rgb(192, 0, 0);	
	/*font-weight: bold;*/
}

.styled-table tbody:nth-child(even) {background: #b5b5b5}
.styled-table tbody:nth-child(odd) {background: #FFF}*/

.paginacion{
    display: flex;
    justify-content: center;    
}

.pagination {
    display: inline-block;
    justify-content: center;
}
.pagination li {
    display: inline;
}
.pagination li a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination li a:hover {
    background-color: #ddd;
}
.pagination .active a {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination .disabled a {
    color: #ddd;
}
