/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;    
}

/* Estilo del contenedor principal */
.container {
    width: 90%;
    margin: 10px auto;  /*margin: 50px auto;*/
    padding: 2px;      /*padding: 20px;*/
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 1px; /*border-radius: 8px;*/
}

/* Estilo del fieldset */
fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;    
}

/* Estilo de la leyenda */
legend {
    font-size: 1.2em;
    font-weight: bold;
}

/* Estilo del formulario para que esté en una sola línea */
form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Estilo de las etiquetas */
form label {
    margin-right: 10px;
}

/* Estilo de los campos de entrada */
form input[type="date"],
form select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilo de la botonera */
.botonera {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

/* Estilo de los botones */
.botonera input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonera input[type="button"]:hover {
    background-color: #0056b3;
}

.button{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;;     
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;    
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/*Estilo para la tabla*/

.styled-table
{
    display: flex;
    justify-content: center;
    font-size: 20px;    
    text-align: center;
}

table{
    border: 1px solid;    
    border-collapse: collapse;
    margin-top: 5px;    
    width: 98%;    
}

th, td{
    border: 1px;    
    padding: 5px;
}

.styled-table thead tr .p18{
    background-color: rgb(224, 158, 18);
    color: white;
    text-align: center;
}

.p18{
    background-color: rgb(224, 158, 18);
}

.styled-table thead tr .ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
    text-align: center;
}

.sulfato{
    background-color: green;
    color: white;
}

.styled-table thead tr .sulfato{
    background-color: green;
    color: white;
    text-align: center;
}

.ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
}

.styled-table thead tr .ferrico{
    background-color: rgb(126, 5, 5);
    color: white;
    text-align: center;
}

.hb10{
    background-color: rgb(255, 181, 193);
    color: white;
}

.styled-table thead tr .hb10{
    background-color: rgb(255, 181, 193);
    color: white;
    text-align: center;
}

.sulfacid{
    background-color: rgba(140, 68, 158);
    color: white;
}

.styled-table thead tr .sulfacid{
    background-color: rgba(140, 68, 158);
    color: white;
    text-align: center;
}  

.R200{	
	color: rgb(0,176,240);
	/*font-weight: bold;*/
}

.R201{
	color:rgb(255, 192, 0);	
	/*font-weight: bold;*/
}

.R202{
	color:rgb(192, 0, 0);	
	/*font-weight: bold;*/
}

.styled-table tbody:nth-child(even) {background: #b5b5b5}
.styled-table tbody:nth-child(odd) {background: #FFF}*/

/*Estilo para los enlaces de la paginación*/
.paginacion{
    display: flex;
    justify-content: center;    
}

.pagination {
    display: inline-block;
    justify-content: center;
}
.pagination li {
    display: inline;
}
.pagination li a {
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination li a:hover {
    background-color: #ddd;
}
.pagination .active a {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
.pagination .disabled a {
    color: #ddd;
}