@charset "utf-8";

header{	
	display: flex;
	background-color: black;	
    font-size: 1.56vw;
    font-weight: bold;
    color: white;
    padding: 1vw;	
    margin-bottom: 2vw;
}

.boton{
    padding: 2%;
    font-weight:bold;
    text-decoration: none;
    background-color: rgb(10,10,10);
    font-size: 1.1vw;
    color: white;
    width: 2vw;
    padding: 1vw 1vw;
    margin-left: -1vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.botones{
    padding: 2%;
    font-weight:bold;
    text-decoration: none;
    background-color: rgb(10,10,10);
    font-size: 1.1vw;
    color: white;
    width: 7vw;    
    padding: 0.9vw 1vw;
    margin-right: 1.5vw;
    margin-left: 0.3vw;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

div{ margin: 1%; /*padding: 0.8%;*/ }

table{
     width: 100%;
     border: 1px solid;   
}

thead{
    font-size: 1.2vw;
    background-color: aqua;
}

table.td, table.th{    
    font-size: 1vw;    
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
    font-size: 1.1vw;
}

tr{
    text-align: center;
    font-size: 1vw;
}
    
.coral:hover {background-color: coral;}

label{    
    display:inline-block;
    font-size: 1.2vw;    
    font-weight: bold; 
    width: 6vw;
    margin-bottom: 1vw;
}

input{
    font-size: 1vw;
}

select{
    font-size: 1vw;
}

legend{
    font-size: 1.1vw;
    font-weight: bold;
}

.encabezado{
    font-weight: bold;
    color: red;
    width: 10vw;
}

.red{
    background-color: #fabfb7;
    color: white;
}

.orange{
    background-color: #ffda9e;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}

.pink{
    background-color: pink;
    color: white;
}

.blue{
    background-color: #b2e2f2;
    color: white;
}

.yellow{
    background-color: #ebf3a0;
    color: white;
    
}

.grey{
    background-color: #c5c6c8;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

/*.div{
    margin-bottom: 1vh;
}*/

.center{
    align-items: center;
}

.datostrabajador{
    display: inline-block;
    width: 55%;        
    margin-bottom: 1vh;
    background-color: grey;
}

.datosantiguedad{
    display: inline-block;
    width: 45%;
    margin-bottom: 1vh;
    background-color: grey;
}