@charset "utf-8";
body {
	font: 110%/1.4 Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container{
	display: grid;    
    grid-template-columns: 100%;
    grid-gap: 2%;
    justify-content: center;
}

header{	
	display: flex;
	background-color: black;	
    font-size: 1.56rem;
    font-weight: bold;
    color: white;
    padding: 1%;	
}

input{
    font-size: 1rem;
}

.boton{
    display: inline-block;
	text-decoration: none;	
    background-color: rgb(140, 68, 158);
    font-weight: bold;
    color: white;   
    width: 35%;    
	padding: 1% 1%;
    margin-left: 2vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.boton:hover{
	opacity: 80%;
	width: 10%;	
}

label{
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 1%;
}

fieldset{
    display: inline-block;
    margin: 1%;
    width: 45%;    
    align-items: center;
}

.notas{
    display: inline-block;    
    height: 65%;
}

section{
    display: flex; /* Sirve para que los 2 fieldset tengan el mismo tamaño */
}

textarea{
    display: block;
    width: 98%;    
    height: 98%;
}

.botonera{
    display: flex;    
    align-items: center;
}

.item{        
    display: inline-block;
    width: 50%;
    margin-left: 20%;
}

@media only screen and (max-width: 767px){

fieldset{                
    margin: 1%;
    width: 100%;    
    align-items: center;    
    font-size: 12px;
}
    
/*
.notas{        
    width: 95%;
}
*/

section{
    display: flex; /* Sirve para que los 2 fieldset tengan el mismo tamaño */
}
    
textarea{
    display: block;
    width: 98%;    
    height: 98%;
}

label{
    display: block;
    font-size: 1.2em;
}

input{
    width: 8.5em;
}

.boton{
    display: inline-block;
	text-decoration: none;	
    background-color: rgb(140, 68, 158);
    font-weight: bold;
    color: white;   
    width: 65%;    
	padding: 1% 1%;
    margin-left: 2vh;
    margin-top: 3vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.boton:hover{
	opacity: 80%;
	width: 10%;	
}
}